:root {
  --primary: #a0b4f1;
  --surface: #dfe4fa;
  --text: #000000;
  --radius: 12px;
}

/* Reset */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: var(--surface);
  color: var(--text);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* React root */
#root {
  min-height: 100vh;
}
